<!doctype html>
<%- partial('_partials/_ie')%>
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
  <head itemscope itemtype="http://schema.org/WebSite">
    <%- partial('_partials/_head.meta')%>
    <%- partial('_partials/_head.links')%>
    <%- partial('_partials/_head.scripts')%>
    <%- partial('_partials/_head.web-font-loader')%>
  </head>
<body id="up">
    <%- partial('_partials/_nav')%>
    <%- yield %>
    <%- partial('_partials/_bottom.upgrade')%>
    <!--%- partial('_partials/bottom.ga')%-->
    <%- partial('_partials/_bottom.jquery')%>
    <!-- build:js js/main.min.js -->
    <script src="js/main.js"></script>
    <script src="js/cog.js"></script>
    <script src="js/mail.js"></script>
    <!-- endbuild -->
</body>
</html>
